<style type="text/css">
  .form-signin {
          max-width: 500px;
          padding: 19px 29px 29px;
          margin: 0 auto 20px;
          background-color: #fff;
          border: 1px solid #e5e5e5;
          -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
                  border-radius: 5px;
          -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
             -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }

  a.btn_weibo {
      margin: 0 auto;
  }

</style>
 <% if flash[:notice] %>
   <div id="notice" style="padding-left:30px;padding-top:5px;"><%= flash[:notice] %></div>
  <% end %>
<form class="form-signin" action="/login" method="post">
          <div class="alert alert-block">
                      <h4>登录</h4>
                      <p>您所访问的页面或者使用的功能需要先登录本系统</p>
          </div>
         <a class="btn_weibo" href="/auth">微博登录</a> 
</form>

