<style type="text/css" media="screen">
	.inner-wrapper {
		-moz-box-shadow: 0 2px 3px #c9c9c9;
		-webkit-box-shadow: 0 2px 3px #c9c9c9;
		box-shadow: 0 2px 3px #c9c9c9;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background-color: #f7f7f7;
		padding: 20px;
	}

	#push-header {
		margin-bottom: 20px; 
		text-align: center; 
		background-color: #fff;
	}

	ul.intrus {
		list-style: none;
		margin: 0px;
	}

	ul.intrus li {
		background-color: #fff;
		box-shadow: 0 2px 2px 0 #c2c2c2;
		border: 1px solid #f7f7f7;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		margin-bottom: 20px;
		padding: 20px;
	}

	ul.intrus li .col {
		display: -moz-inline-stack;  
        		display: inline-block;       
        		zoom: 1;                     
        		*display: inline; 
        		margin-right: 10px;
	}

	ul.intrus li h2 {
		margin-top: 0px;
	}

	ul.intrus li .set {
		font-size: 2em;
		background-color: #9c0001;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;
		display: block;
		float: left;
		height: 55px;
		line-height: 55px;
		width: 55px;
		text-align: center;
		color: #fff;
	}
</style>
<div class="inner-wrapper" id="push-header">
	<h1>精准推送</h1>
	<p style="color: #787878;">通过设定推送内容，完成向目标用户群的精准内容推送，以帮助微博营销。</p>
	<a href="" class="btn btn-large btn-primary">下载推送工具</a>
</div>
<div class="inner-wrapper">
	<ul class="intrus">
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">0</span>
			</div>
			<div class="span3">
				<h2>准备工作</h2>
				<p><strong>@到的用户昵称列表</strong>文件<br>	
				<p><strong>微博登录账号、密码</strong>文件<br>
				<p><strong>评论内容文件</strong></p>
			</div>
			<div class="span8">
				<img src="/images/prepare.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">1</span>
			</div>
			<div class="span3">
				<h2>填写微博链接</h2>
				<p>要求为<strong>手机版微博链接</strong><br>
					(http://weibo.cn/)<br>
					例如： http://weibo.cn/comment/zsjExpfCI?uid=xxx&rl=0&st=a508&rand=258673&vt=4&gsid=xxx
					取 <strong>“?uid=”</strong> 前面部分，得到 http://weibo.cn/comment/zsjExpfCI</p>
			</div>
			<div class="span8">
				<img src="/images/step1.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">2</span>
			</div>
			<div class="span3">
				<h2>添加微博账户文件</h2>
				<p>点击<strong>“选择账户文件”</strong>按钮添加</p>
			</div>
			<div class="span8">
				<img src="/images/step2.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">3</span>
			</div>
			<div class="span3">
				<h2>添加@用户文件</h2>
				<p>点击<strong>“选择批量@用户文件”</strong>按钮添加</p>
			</div>
			<div class="span8">
				<img src="/images/step3.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">4</span>
			</div>
			<div class="span3">
				<h2>添加评论内容文件</h2>
				<p>点击<strong>“选择评论内容”</strong>按钮添加</p>
			</div>
			<div class="span8">
				<img src="/images/step4.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">5</span>
			</div>
			<div class="span3">
				<h2>指定每条微博@用户数量以及评论间隔</h2>
				<p></p>
			</div>
			<div class="span8">
				<img src="/images/step5.png" style="width:100%;">
			</div>
		</li>
		<li class="clearfix row-fluid">
			<div class="span1">
				<span class="set">6</span>
			</div>
			<div class="span3">
				<h2>开始推送</h2>
				<p>点击<strong>“评论”</strong>按钮<br>进入浏览器开始自动操作</p>
			</div>
			<div class="span8">
				<img src="/images/step6.png" style="width:100%;">
			</div>
		</li>
	</ul>
</div>